* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
}

main {
  padding: 0 10rem;
}

.logo-bg {
  width: 70px;
  height: 70px;
  background: #394867;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-text {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.site-header {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.site-header ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}
.site-header ul li {
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.site-header ul li a {
  text-decoration: none;
}
.nav-item {
  display: flex;
}
.nav-home {
  grid-column: 2/3;
}
.nav-about-me {
  grid-column: 3/4;
}
.nav-projects {
  grid-column: 4/5;
}
.nav-site-logo {
  grid-column: 5/7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-skills {
  grid-column: 8/9;
}
.nav-contact-me {
  grid-column: 9/10;
  width: 7rem;
  height: 2rem;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-contact-me a {
  font-weight: bold;
}

#home {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr auto auto auto auto auto;
  width: 100%;
  padding-top: 3rem;
  margin: 2rem auto;
}

.home-text {
  grid-column: 2 / span 3;
  grid-row: 3 / span 3;
  display: flex;
  flex-direction: column;
}

.home-heading {
  margin: 0.5rem 0;
}

.home-heading-sub {
  font-weight: 400;
}

.home-paragraph {
  line-height: 1.5rem;
}

.highlight-text {
  font-weight: bold;
  color: #fc4f00;
}

.btn-hire-me {
  background-color: #fc4f00;
  color: #fff;
  margin: 0.5rem 0;
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.home-avatar {
  grid-column: 6 / span 3;
  grid-row: 2 / span 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: block;
  height: auto;
  max-width: 80%;
  margin: auto;
}

.avatar-container {
  background: linear-gradient(30deg, #e6deda 0%, #00b4db 100%);
  padding: 3rem 0 0 0;
  border-radius: 10px;
}

#about-me {
  margin: 2rem auto;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr auto auto auto auto auto;
  width: 100%;
}

.about-me-img {
  grid-column: 2 / span 3;
  grid-row: 3 / span 3;
}

.about-me-img img {
  border-radius: 10px;
  display: block;
  max-width: 85%;
  height: auto;
}

.about-me-text {
  grid-column: 6 / span 3;
  grid-row: 2 / span 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.about-me-body {
  padding: 1rem 0;
  line-height: 1.5rem;
}

#projects {
  padding: 0 9rem;
  text-align: center;
}

.projects-showcase {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  width: 15rem;
  height: 20rem;
  padding: 0 0 1rem 0;
  margin: 1.5rem 0.5rem;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 5px;
}

.project-card a {
  text-decoration: none;
}

.project-img img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.project-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #394867;
  padding: 0.5rem;
}

.project-desc {
  line-height: 1.5rem;
  text-align: left;
  padding: 0 1rem;
}
